@import variables


.key
  +flex-center
  background: linear-gradient(to bottom, $athens-gray 40%, $mischka 100%)
  border: 0
  flex-direction: row
  height: 50px
  margin: 5px 10px
  outline: none
  width: calc(100% / 3 - 20px)

  &:active
    background: linear-gradient(to bottom, darken($athens-gray, 10) 40%, darken($mischka, 10) 100%)

  &--left
    +shadow(0, 3, 0, 3)
    border-radius: 60% 90%

  &--right
    +shadow(0, 3, 0, 3)
    border-radius: 90% 60%
    flex-direction: row-reverse

  &--center
    +shadow(3, 3, 3, 3)
    border-radius: 50%
    transform: translateY(40%)


.key-label
  font-size: 1.5em
  font-weight: bold
  margin: 0 5px


+respond-after($mobile)
  .key
    &:hover
      background: linear-gradient(to bottom, lighten($athens-gray, 10) 40%, lighten($mischka, 10) 100%)

    &--left,
    &--right
      &:hover
        +shadow(0, 2, 0, 2)

      &:active
        +shadow(0, 4, 0, 4)

    &--center
      &:hover
        +shadow(2, 2, 2, 2)

      &:active
        +shadow(4, 4, 4, 4)
